.data-container
  = form_for group do |f|
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control', readonly: readonly
    .row
      .col-3.offset-3
        - if readonly
          = link_to 'Edit', edit_group_path(group),
            class: 'btn btn-primary btn-block'
        - else
          = f.submit 'Save', class: 'btn btn-primary btn-block'
      .col-3
        = link_to 'Cancel', groups_path, class: 'btn btn-secondary btn-block'
  - if group.id
    = render 'competitors/index', group: group
