- content_for :alert_messages do
  = alert_messages(flash)
.row
  .col
    = link_to 'New Group', new_group_path, class: 'btn btn-primary float-right'
%table.table.table-striped.mt-1
  %tbody
    %tr
      %th Name
      %th.float-right
    - @groups.each do |group|
      %tr
        %td
          = link_to group.name, group_path(group)
        %td.float-right
          = link_to group, method: :delete,
              alt: "Delete #{group.name}" do
            = fa_icon 'times 2x'
